# ======================================
# IDEs e Ferramentas
# ======================================

# IntelliJ IDEA
.idea/

# ======================================
# Maven
# ======================================
/.mvn/
/target/

# ======================================
# Ambientes e variáveis sensíveis
# ======================================
.env

# ======================================
# Logs, dumps e relatórios
# ======================================
*.log